
#backgroundcol{
	
	background-image: linear-gradient(to top, rgba(200, 200, 200, 1), rgba(67, 181, 129,1));
	background-repeat: no-repeat;
	background-position: center;
background-size: auto;  
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#weather{
	float:right;
	margin-right: 1%;
	margin-top: -30%;
}
.shadow {
	border: 1px solid #601785;
	transition: all .5s ease-in;

}
img {
	margin-left: 8px;
	margin-bottom: 8px;
	width: 640px;
	height: 400px;
	box-shadow: 0 0 16px #444;
	border: 1px solid #fff;
	transition: all 1s ease-in;
}
#screenshotBtn{
	margin-top: 165px;
	position: absolute;
	border-radius:95%;
	width: 70px;
	height: 50px;
	z-index: 2000;
}